* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --brown-800: 22 32 26;
  --brown-600: 22 39 40;
  --camel: 29 35 61;
  --offWhite: 32 50 90;
  --safari: 66 26 28;
  --offBlack: 52 9 18;

  --shadow-m:
    inset 0 2px 2px hsl(var(var(--offBlack)) / 0.65),
    0 2px 4px hsl(var(--offBlack) / 0.35), 0 4px 6px hsl(var(--offBlack) / 0.15);
}

html {
  touch-action: manipulation;
}

body {
  max-width: 90rem;
  min-height: 100dvh;
  margin-inline: auto;
  padding-block: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  outline: 2px solid crimson;
  padding-inline: .8rem;
  padding-block: 2rem;
}

.grid {
  display: grid;
  --min-col: 300px;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--min-col), 100%), 1fr)
  );
  outline: 2px solid limegreen;
  border-radius: .5rem;
}

.friends-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  

  & .friend-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    outline: 1px solid darkblue;
    border-radius: .5rem;
  }
}

.friend-card {
  display: flex;
  justify-content: space-between;

  & .friend-info {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding-block: .5rem;
    padding-inline: .25rem;
  }
}

.friends-pic {
  display: block;
  width: 3.5rem;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  filter: drop-shadow(0px 2px 2px hsl(var(--offBlack) / .75));
  /* border: 2px solid hsl(var(--offBlack) / .90); */
}

li {
  list-style: none;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: .5rem;
  background-color: transparent;
  cursor: pointer;
  padding-inline: .8rem;
  filter: drop-shadow(1px 1px 1px hsl(var(--offBlack) /.35));
  will-change: transform;
  transition: transform 200ms ease-in-out;

  &:hover {
    transform: scale(1.04);
  }
}
